:root {
    --blue-dark: #263B59;
    --grey:    hsl(219, 15%, 60%);
    --grey-border:    hsl(219, 15%, 40%);
    --grey-dark:    hsl(219, 15%, 50%);
    --grey-border-dark:    hsl(219, 15%, 30%);
    --blue-bright:    hsl(219, 95%, 60%);
    --blue-bright-border:    hsl(219, 95%, 40%);
    --blue-bright-dark:    hsl(219, 95%, 50%);
    --blue-bright-border-dark:    hsl(219, 95%, 30%);
    --base-font-size:   18px;
}

@media all and (max-width: 450px) {
    :root {
        --base-font-size: 14px;
    }
}

/*
     FILE ARCHIVED ON 18:27:20 Apr 04, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 18:51:59 Jan 17, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 414.417
  exclusion.robots: 0.094
  exclusion.robots.policy: 0.082
  cdx.remote: 0.11
  esindex: 0.015
  LoadShardBlock: 369.133 (3)
  PetaboxLoader3.datanode: 316.663 (4)
  load_resource: 441.032
  PetaboxLoader3.resolve: 333.544
*/